div.inputother {
	margin-top: -1.1%;
}

/*div.inputother label {
	margin-left: -5%;
}*/

div.inputwhy {
	margin-top: -1.1%;
}

/*div.inputwhy label {
	margin-left: -5%;
}*/

label[for="others"] {
	padding-bottom: 1%;

}


@media screen and (min-width: 768px) {
    div.inputother label {
		margin-left: -5%;
	}
	div.inputwhy label {
		margin-left: -5%;
	}
}

.bg-1 { 
	background-color: #1abc9c;
	color: #ffffff;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: -20px;
 }

.bg-2 {
	padding-top: 30px;	
	padding-bottom: 35px;
	background-color: #FCFAF2;
}

.bg-2.save {
	padding-top: 80px;
	padding-bottom: 85px;
}

@media screen and (min-width: 769px) {
	.bg-2.save {
		padding-top: 30px;
		padding-bottom: 35px;
	}
}


.bg-3 { 
	background-color: #2f2f2f; 
	color: #fff;
	padding-top: 70px;
	padding-bottom: 35px;
}

